:local {
  .tabwrap {
    height: 150px;
  }
  .tablist {
    padding-left: 0;
    li {
      display: inline-block;
      margin-left: 15px;
      font-weight: 900;
      font-size: 16px;
      cursor: pointer;
    }
    li:first-child {
      margin-left: 0;
    }
  }
  .manual {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .tabactive {
    color: lighten(#940d21, 10%);
    border-bottom: 1px solid lighten(#940d21, 10%);
  }
  .container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
  }

  .subheading {
    font-size: 16px;
    font-weight: bold;
  }

  .button {
    padding: 15px 40px;
    border: none;
    font-size: 14px;
    background: #680b22;
    cursor: pointer;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    &:hover {
      background: lighten(#680b22, 10%);
    }
  }

  .upgradeButton {
    padding: 3px 10px;
    color: #680b22;
    border: none;
    font-size: 10px;
    background: #680b22;
    cursor: pointer;
    color: #ffffff;
    &:hover {
      background: lighten(#680b22, 10%);
    }
  }

  .input {
    height: 0;
    overflow: hidden;
    padding-top: 15px;
    input {
      border: none;
      margin-right: 10px;
      margin-bottom: 10px;
      padding: 5px 10px;
      &:active,
      &:focus {
        outline: 0;
      }
    }
    &.active {
      height: auto;
    }
  }

  .upgradeAll {
    width: 100%;
    background: #f5f5f5;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .upgradeAllButton {
    padding: 10px 30px;
    border: none;
    font-size: 14px;
    background: #940d21;
    cursor: pointer;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    &:hover {
      background: lighten(#940d21, 10%);
    }
  }

  .button2 {
    padding: 15px 40px;
    border: none;
    font-size: 14px;
    background: #940d21;
    cursor: pointer;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    &:hover {
      background: lighten(#940d21, 10%);
    }
  }

  .terminal {
    margin-top: 30px;
    pre {
      white-space: pre-wrap;
      word-wrap: break-word;
    }

    .terminalbox {
      height: 200px;
      overflow-y: scroll;
      background: #232c39;
      margin-top: 10px;
      padding: 10px;
    }
  }

  .container h2 {
    color: #b50e24;
    font-size: 3rem;
  }

  .container a {
    font-size: 1.4rem;
  }

  .card {
    position: relative;
    background: #ffffff;
    color: #000000;
    height: 560px;
    width: 100%;
    // border-radius: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .table {
    padding-top: 30px;
    padding-bottom: 30px;
    table-layout: fixed;
    width: 100%;
    text-align: center;
    th {
      padding-bottom: 20px;
      font-weight: bold;
    }
    td {
      padding-top: 10px;
      font-size: 18px;
    }
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}
